<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>We are learning EJS 🛫</title>
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/">HOME</a></li>
        <li><a href="/about">ABOUT</a></li>
        <li><a href="/help">HELP</a></li>
      </ul>
    </nav>

    <h1><%= title %></h1>

    <h3>Current Date : <%= new Date().toString() %></h3>

    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sequi
      exercitationem nulla, explicabo rerum cumque harum rem accusantium quia ut
      expedita?
    </p>

    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sequi
      exercitationem nulla, explicabo rerum cumque harum rem accusantium quia ut
      expedita?
    </p>

    <div>
      <!-- <% if(post.published) { %>
      <h3>Title: <%= post.title%></h3>
      <h3>Body: <%= post.body%></h3>
      <% } else %> -->

      <% if(post.published){ %>
      <h1>Title: <%= post.title %></h1>
      <p>Body: <%= post.body %></p>
      <% } else{%>
      <p>Post is not yet publish</p>
      <% } %>
    </div>
    <hr />

    <div>
      <ul>
        <% if(posts.length >0){ %> <% for(let p of posts){ %>
        <li><%= p.title %> By <%= p.author %></li>
        <% } %> <% }else{ %>
        <h3>No data Found 💥</h3>
        <% } %>
      </ul>
    </div>
  </body>
</html>
