<%- include("../partials/header.ejs") %> <%- include("../partials/nav.ejs") %>

<h1><%= title %></h1>

<h3>Current Date : <%= new Date().toString() %></h3>

<p>
  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sequi exercitationem
  nulla, explicabo rerum cumque harum rem accusantium quia ut expedita?
</p>

<p>
  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sequi exercitationem
  nulla, explicabo rerum cumque harum rem accusantium quia ut expedita?
</p>

<div>
  <!-- <% if(post.published) { %>
      <h3>Title: <%= post.title%></h3>
      <h3>Body: <%= post.body%></h3>
      <% } else %> -->

  <% if(post.published){ %>
  <h1>Title: <%= post.title %></h1>
  <p>Body: <%= post.body %></p>
  <% } else{%>
  <p>Post is not yet publish</p>
  <% } %>
</div>
<hr />

<div>
  <ul>
    <% if(posts.length >0){ %> <% for(let p of posts){ %>
    <li><%= p.title %> By <%= p.author %></li>
    <% } %> <% }else{ %>
    <h3>No data Found 💥</h3>
    <% } %>
  </ul>
</div>
<%- include("../partials/footer.ejs") %>
