<%- include("../../partials/header.ejs") %>

<div class="container my-container my-5">
  <div class="row">
    <div class="col-md-6 mx-auto">
      <div class="card card-body p-5">
        <h4 class="mb-3">Create A new Account:</h4>

        <form action="/auth/signup" method="POST">
          <div class="form-group">
            <label for="username">Enter Your Name (Must be Unique.)</label>
            <input type="text" name="username" id="username" class="form-control
            <%= error.username ? "is-invalid" :"" %> " value="<%= value.username
            ? value.username :"" %> " />
            <div class="invalid-feedback">
              <%= error.username && error.username %>
            </div>
          </div>

          <div class="form-group">
            <label for="email">Enter Your Valid Email (Must be Unique.)</label>
            <input type="email" name="email" id="email" class="form-control <%=
            error.email ? "is-invalid" :"" %> " value="<%= value.email ?
            value.email :"" %> "/>
            <div class="invalid-feedback">
              <%= error.email && error.email %>
            </div>
          </div>

          <div class="form-group">
            <label for="password"
              >Enter A Strong Password (Must be Unique.)</label
            >
            <input type="password" name="password" id="password"
            class="form-control <%= error.password ? "is-invalid" :"" %> "
            value="<%= value.password ? value.password :"" %> "/>
            <div class="invalid-feedback">
              <%= error.password && error.password %>
            </div>
          </div>

          <div class="form-group">
            <label for="confirmPassword">Confirm Your Password</label>
            <input type="password" name="confirmPassword" id="confirmPassword"
            class="form-control <%= error.confirmPassword ? "is-invalid" :"" %>
            " />
            <div class="invalid-feedback">
              <%= error.confirmPassword && error.confirmPassword %>
            </div>
          </div>

          <input
            type="submit"
            value="SIGNUP"
            class="btn btn-outline-primary mt-2"
          />
        </form>
        <a href="/auth/login" class="my-3 text-center"
          >Already have an Account? Login here</a
        >
      </div>
    </div>
  </div>
</div>

<%- include("../../partials/footer.ejs") %>
</body>
</html>
